<%= form_for [:accounts_and_goals, account],
             html: {
               class: modal_parent_element_classes,
               data: { controller: "deletable" }
             } do |form| %>
  <div class="flex justify-between items-stretch border-b h-14">
    <span class="px-4 border-r flex justify-center items-center">
        <%= t("accounts_and_goals.ui.accounts.kind.#{form.object.kind}") %>
      </span>
    <div class="flex-grow content-['']"></div>
    <%=
      form.submit nil,
                  class: "px-4 border-l cursor-pointer bg-green-500 text-neutral-50 hover:bg-green-400 flex justify-center items-center"
    %>
    <%=
      link_to t("ui.buttons.close"),
              accounts_and_goals_path,
              class: "px-4 border-l cursor-pointer hover:bg-neutral-100 flex justify-center items-center"
    %>
  </div>
  <div class="overflow-y-auto">
    <%= form.hidden_field :kind %>
    <% if flash[:notice].present? %>
      <%= render "components/forms/messages/big", message: flash[:notice], type: :success %>
    <% end %>
    <% if account.errors.messages_for(:form_persistence).any? %>
      <% account.errors.messages_for(:form_persistence).each do |error| %>
        <%= render "components/forms/messages/big", message: error, type: :error %>
      <% end %>
    <% end %>
    <%=
      render "components/forms/inputs/text",
             form:,
             attr: :name,
             autofocus: true,
             error_messages: account.errors.messages_for(:name)
    %>
    <%=
      render "components/forms/inputs/text",
             form:,
             attr: :currency,
             error_messages: account.errors.messages_for(:currency)
    %>
    <%=
      render "components/forms/inputs/textarea",
             form:,
             attr: :description,
             placeholder: "add a simple description"
    %>
    <% unless account.external? %>
      <%= render "accounts_and_goals/accounts/account/historic_fields", form:, account: %>
    <% end %>
    <% unless account.new_record? %>
      <%= render "accounts_and_goals/accounts/account/archive_and_deletion", form:, account: %>
    <% end %>
  </div>
<% end %>
