<%= form_for [:accounts_and_goals, account],
             html: {
               class: modal_parent_element_classes,
               data: { controller: "deletable" }
             } do |form| %>
  <div class="flex justify-between divide-x items-stretch h-12 border-b">
    <span class="px-4 flex justify-center items-center">
        <%= t("accounts_and_goals.ui.accounts.kind.#{form.object.kind}") %>
      </span>
    <div class="flex-grow content-['']"></div>
    <%=
      form.submit nil,
                  class: "px-4 cursor-pointer bg-green-500 text-neutral-50 hover:bg-green-400 flex justify-center items-center"
    %>
    <%=
      link_to t("ui.buttons.close"),
              accounts_and_goals_path,
              class: "px-4 cursor-pointer hover:bg-neutral-100 flex justify-center items-center"
    %>
  </div>

  <div class="divide-y overflow-y-auto">
    <%= form.hidden_field :kind, hidden: true %>

    <% if flash[:notice].present? %>
      <%= render "components/forms/messages/big", message: flash[:notice], type: :success %>
    <% end %>

    <% flash[:form_persistence_warnings]&.each do |warning| %>
      <%= render "components/forms/messages/big", message: warning, type: :warning %>
    <% end %>

    <% account.errors.messages_for(:form_persistence_warnings).each do |warning| %>
      <%= render "components/forms/messages/big", message: warning, type: :warning %>
    <% end %>

    <% account.errors.messages_for(:form_persistence_errors).each do |error| %>
      <%= render "components/forms/messages/big", message: error, type: :error %>
    <% end %>

    <%=
      render "components/forms/inputs/text",
             form:,
             attr: :name,
             autofocus: true,
             error_messages: account.errors.messages_for(:name)
    %>
    <%=
      render "components/forms/inputs/text",
             form:,
             attr: :currency,
             error_messages: account.errors.messages_for(:currency)
    %>
    <%=
      render "components/forms/inputs/textarea",
             form:,
             attr: :description,
             placeholder: "add a simple description"
    %>
    <% if account.loan_account? %>
      <%= render "components/forms/separator" %>
      <%= render "components/forms/inputs/check_box", form:, attr: :personal_loan %>
    <% end %>
    <% if account.loan_account? || account.credit_line_account? %>
      <%= render "components/forms/separator" %>
      <%=
        render "components/forms/inputs/number",
               form:,
               attr: :capital,
               error_messages: account.errors.messages_for(:capital)
      %>
    <% end %>
    <% if account.loan_account? %>
      <%= render "components/forms/messages/small", message: "a negative value means you are owed" %>
    <% end %>
    <% unless account.external_account? %>
      <%= render "components/forms/separator" %>
      <%= render "accounts_and_goals/accounts/account/historic_fields", form:, account: %>
    <% end %>
    <% if account.external_account? %>
      <%= render "components/forms/separator" %>
      <div class="flex justify-between divide-x items-stretch h-16">
        <h4 class="px-4 text-lg flex items-center flex-grow">
          <%= t("accounts_and_goals.ui.accounts.children_header") %>
        </h4>
        <%=
          link_to t("ui.buttons.new"),
                  accounts_and_goals_path,
                  class: "px-4 cursor-pointer hover:bg-neutral-100 flex justify-center items-center min-w-24"
        %>
      </div>
      <div id="account_children" class="divide-y">
        <%= form.fields_for :children do |child_form| %>
          <% unless child_form.options[:child_index].zero? %>
            <%= render "components/forms/separator" %>
          <% end %>
          <%= child_form.hidden_field :id, hidden: true %>
          <%=
            render "components/forms/inputs/text",
                   form: child_form,
                   attr: :name,
                   autofocus: true,
                   error_messages: child_form.object.errors.messages_for(:name)
          %>
          <%=
            render "components/forms/inputs/textarea",
                   form: child_form,
                   attr: :description,
                   placeholder: "add a simple description"
          %>
          <% unless child_form.object.new_record? %>
            <%=
              render "accounts_and_goals/accounts/account/archive_and_deletion",
                     form: child_form,
                     account: child_form.object
            %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% unless account.new_record? %>
      <%= render "components/forms/separator" %>
      <%= render "accounts_and_goals/accounts/account/archive_and_deletion", form:, account: %>
    <% end %>
  </div>
<% end %>
