<%= turbo_frame_tag dom_id_for_account_balance(@account, preview: @in_preview) do %>
  <% if Account.debt_loan_kinds_array.include? @account.kind %>
    <p class="<%= amount_text_color(@balance) %> leading-none"><%= Money.from_cents(@balance.abs, @account.currency).format %></p>
    <p class="leading-none">paid <%= number_to_percentage(((@balance.to_f + @account.capital) / @account.capital * 100).abs, precision: 2, significant: true) %></p>
  <% else %>
    <p class="<%= amount_text_color(@balance) %> leading-none"><%= Money.from_cents(@balance.abs, @account.currency).format %></p>
  <% end %>
<% end %>
