<%= turbo_frame_tag "#{@kinds.first.gsub(".", "_")}_accounts" do %>
  <% if @accounts.any? %>
    <% @accounts.each do |account| %>
      <%= turbo_frame_tag dom_id_for_account(account, preview: true),
                          class: "block [&:not(:last-child)]:border-b hover:bg-neutral-100/25",
                          target: "_top",
                          data: { turbo_action: "advance" } do %>
        <%= link_to accounts_and_goals_account_path(account), class: "min-h-20 p-1.5 grid grid-cols-[minmax(0,_1fr)_min-content] gap-2" do %>
          <div
             class="h-[100%] flex flex-col justify-center <%= account.debt? ? "" : "col-span-2" %>"
          >
            <h4 class="text-xl"><%= account.name %></h4>
            <% unless account.external? %>
              <%=
                render "accounts_and_goals/accounts/listable_balance",
                       currency: account.currency,
                       balance: account.balance,
                       capital: account.capital,
                       credit_line: account.credit_line?,
                       personal_loan: account.personal_loan?
              %>
            <% end %>
            <p class="text-sm text-neutral-400 max-w-[100%] overflow-x-hidden"><%= account.description&.truncate(50) %></p>
          </div>
          <% if account.debt? %>
            <%= render "accounts_and_goals/accounts/listable_payment_progress", progress: account.payment_progress %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <div class="h-[100%] flex justify-center items-center py-1.5">
      <span>you have not added any accounts of this kind</span>
    </div>
  <% end %>
<% end %>
