<% content_for :modal do %>
  <%= form_for [:accounts_and_goals, @form], html: { class: "flex flex-col max-h-[100vh]", data: { controller: "deletable" } } do |form| %>
    <div class="flex justify-between items-stretch border-b h-14">
      <div class="flex-grow flex items-stretch">
        <span class="px-4 border-r flex justify-center items-center">
          <%= t("accounts_and_goals.ui.accounts.kind.#{form.object.kind}") %>
        </span>
      </div>
      <%=
        form.submit nil,
                    class: "px-4 border-l cursor-pointer bg-green-500 text-neutral-50 hover:bg-green-400 flex justify-center items-center"
      %>
      <%=
        link_to t("ui.buttons.close"),
                accounts_and_goals_path,
                class: "px-4 border-l cursor-pointer hover:bg-neutral-100 flex justify-center items-center"
      %>
    </div>
    <div class="flex-grow block overflow-y-auto">
      <%= form.hidden_field :kind %>
      <div class="[&:not(:last-child)]:border-b relative">
        <%= form.label :name, class: "px-4 pt-1 text-sm absolute top-0" %>
        <%=
          form.text_field :name,
                          class: "h-16 w-full px-4 pt-3 text-lg flex-grow focus:bg-neutral-100 hover:bg-neutral-100",
                          autofocus: true
        %>
      </div>
      <% @form.errors.messages_for(:name) do |error| %>
        <%= render "components/forms/messages/error", message: error %>
      <% end %>
      <div class="[&:not(:last-child)]:border-b relative">
        <%= form.label :currency, class: "px-4 pt-1 text-sm absolute top-0" %>
        <%=
          form.text_field :currency,
                          class: "h-16 w-full px-4 pt-3 text-lg flex-grow focus:bg-neutral-100 hover:bg-neutral-100"
        %>
      </div>
      <% @form.errors.messages_for(:currency) do |error| %>
        <%= render "components/forms/messages/error", message: error %>
      <% end %>
      <div class="flex flex-col [&:not(:last-child)]:border-b min-h-16 relative">
        <%= form.label :description, class: "px-4 pt-1 text-sm absolute top-0" %>
        <%=
          form.text_area :description,
                         class: "px-4 pt-7 pb-2 text-lg flex-grow focus:bg-neutral-100 hover:bg-neutral-100 resize-y",
                         rows: 3,
                         placeholder: "add a simple description"
        %>
      </div>
      <h4 class="[&:not(:last-child)]:border-b px-4 h-16 text-lg flex items-center">
        Initial Balance (for accounts with incomplete history)
      </h4>
      <div class="[&:not(:last-child)]:border-b relative">
        <%= form.label :amount, class: "px-4 pt-1 text-sm absolute top-0" %>
        <%=
          form.number_field :amount,
                            class: "h-16 w-full px-4 pt-3 text-lg focus:bg-neutral-100 hover:bg-neutral-100 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
        %>
      </div>
      <div class="border-b h-16 relative">
        <%= form.label :at, class: "px-4 pt-1 text-sm absolute top-0" %>
        <%=
          form.date_field :at,
                          class: "h-16 w-full px-4 pt-3 text-lg focus:bg-neutral-100 hover:bg-neutral-100"
        %>
      </div>
      <% @form.errors.messages_for(:at) do |error| %>
        <%= render "components/forms/messages/error", message: error %>
      <% end %>
      <div class="border-y text-lg flex justify-between items-center">
        <%= form.label :archived, class: "px-4 h-16 text-lg flex-grow flex items-center bg-transparent border-transparent hover:bg-neutral-100 cursor-pointer" %>
        <%=
          form.check_box :archived,
                          class: "h-16 w-16 appearance-none border-l grid items-center place-content-center before:h-16 before:w-16 before:block before:bg-neutral-900 before:content-[''] before:scale-0 checked:before:scale-100 before:duration-100 before:ease-in cursor-pointer"
        %>
      </div>
      <div class="flex flex-col justify-between">
        <div
          class="flex justify-between items-stretch overflow-clip h-16 [&[data-hidden]]:h-0 duration-100"
          data-hidden
          data-deletable-target="confirmation"
        >
          <p class="flex items-center flex-grow pl-4"><%= t("accounts_and_goals.ui.accounts.deletion_message") %></p>
          <%=
            link_to t("ui.buttons.confirm"),
                    accounts_and_goals_account_path(@form),
                    turbo_method: :delete,
                    class: "px-4 min-w-20 border-l cursor-pointer text-neutral-50 bg-red-500 hover:bg-red-600 flex justify-center items-center"
          %>
          <span
            class="px-4 min-w-20 border-l cursor-pointer hover:bg-neutral-100 flex justify-center items-center"
            data-action="click->deletable#cancel"
          >
            <%= t("ui.buttons.cancel") %>
          </span>
        </div>
        <span
          class="text-lg flex-grow h-16 [&[data-hidden]]:h-0 overflow-y-clip text-neutral-50 bg-red-500 hover:bg-red-600 flex justify-center items-center cursor-pointer duration-100"
          data-deletable-target="trigger"
          data-action="click->deletable#confirm"
        >
          <%= t("ui.buttons.delete") %>
        </span>
      </div>
    </div>
  <% end %>
<% end %>
