<%# locals: (form:, account:) %>

<div class="border-b px-4 h-16 text-lg flex items-center content-['']"></div>
<div class="border-b text-lg flex justify-between items-center">
  <%= form.label :archived, class: "px-4 h-16 text-lg flex-grow flex items-center bg-transparent border-transparent hover:bg-neutral-100 cursor-pointer" %>
  <%=
    form.check_box :archived,
                   class: "h-16 w-16 appearance-none border-l grid items-center place-content-center before:h-16 before:w-16 before:block before:bg-neutral-900 before:content-[''] before:scale-0 checked:before:scale-100 before:duration-100 before:linear cursor-pointer"
  %>
</div>
<div class="flex flex-col justify-between">
  <div
    class="flex flex-col items-stretch overflow-clip h-32 [&[data-hidden]]:h-0 duration-200"
    data-hidden
    data-deletable-target="confirmation"
  >
    <p class="flex items-center flex-grow px-4 text-red-500 bg-red-100"><%= t("accounts_and_goals.ui.accounts.deletion_message") %></p>
    <div class="flex items-stretch flex-grow">
      <%=
        link_to t("ui.buttons.confirm"),
                accounts_and_goals_account_path(account),
                data: { turbo_method: :delete },
                class: "px-4 flex-grow border-r cursor-pointer text-neutral-50 bg-red-500 hover:bg-red-600 flex justify-center items-center"
      %>
      <span
        class="px-4 flex-grow cursor-pointer hover:bg-neutral-100 flex justify-center items-center"
        data-action="click->deletable#cancel"
      >
      <%= t("ui.buttons.cancel") %>
    </span>
    </div>
  </div>
  <span
    class="text-lg flex-grow h-16 [&[data-hidden]]:h-0 overflow-y-clip text-neutral-50 bg-red-500 hover:bg-red-600 flex justify-center items-center cursor-pointer duration-100"
    data-deletable-target="trigger"
    data-action="click->deletable#confirm"
  >
    <%= t("ui.buttons.delete") %>
  </span>
</div>
