<%# locals: (form:, account:) %>

<div class="border-b px-4 h-16 text-lg flex items-center content-['']"></div>
<h4 class="[&:not(:last-child)]:border-b px-4 h-16 text-lg flex items-center">
  <%= t("accounts_and_goals.ui.accounts.historic_data_header") %>
</h4>
<div class="[&:not(:last-child)]:border-b relative">
  <%= form.label :amount, class: "px-4 pt-1 text-sm absolute top-0" %>
  <%=
    form.number_field :amount,
                      class: "h-16 w-full px-4 pt-3 text-lg focus:bg-neutral-100 hover:bg-neutral-100 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
  %>
</div>
<div class="border-b h-16 relative">
  <%= form.label :at, class: "px-4 pt-1 text-sm absolute top-0" %>
  <%=
    form.date_field :at,
                    class: "h-16 w-full px-4 pt-3 text-lg focus:bg-neutral-100 hover:bg-neutral-100"
  %>
</div>
<% account.errors.messages_for(:at).each do |error| %>
  <%= render "components/forms/messages/small", message: error, type: :error %>
<% end %>
<% unless account.new_record? %>
  <div class="border-y text-lg flex justify-between items-center">
    <%= form.label :clear_history, class: "px-4 h-16 text-lg flex-grow flex items-center bg-transparent border-transparent hover:bg-neutral-100 cursor-pointer" %>
    <%=
      form.check_box :clear_history,
                     class: "h-16 w-16 appearance-none border-l grid items-center place-content-center before:h-16 before:w-16 before:block before:bg-neutral-900 before:content-[''] before:scale-0 checked:before:scale-100 before:duration-100 before:linear cursor-pointer"
    %>
  </div>
<% end %>