<%# locals: (form:, account:) %>

<%= render "components/forms/separator" %>
<%=
  render "components/forms/section_header",
         text: t("accounts_and_goals.ui.accounts.historic_data_header")
%>
<%= render "components/forms/inputs/number", form:, attr: :amount %>
<%=
  render "components/forms/inputs/date",
         form:,
         attr: :at,
         error_messages: account.errors.messages_for(:at)
%>
<% unless account.new_record? %>
  <div class="border-y text-lg flex justify-between items-center">
    <%= form.label :clear_history, class: "px-4 h-16 text-lg flex-grow flex items-center bg-transparent border-transparent hover:bg-neutral-100 cursor-pointer" %>
    <%=
      form.check_box :clear_history,
                     class: "h-16 w-16 appearance-none border-l grid items-center place-content-center before:h-16 before:w-16 before:block before:bg-neutral-900 before:content-[''] before:scale-0 checked:before:scale-100 before:duration-100 before:linear cursor-pointer"
    %>
  </div>
<% end %>