<div class="p-2 h-[100%] grid gap-2 grid-cols-[minmax(0,_1fr)_minmax(0,_1fr)_30vw] grid-rows-[min-content_min-content_minmax(0,_1fr)_minmax(0,_1fr)]">
  <%= render "components/card", additional_classes: "col-span-3 px-3 py-1.5 flex justify-between items-baseline" do %>
    <h1 class="text-3xl">accounts & goals</h1>
  <% end %>
  <div class="col-span-2 grid gap-2 grid-cols-3">
    <%=
      render "accounts_and_goals/landing/balance_skeleton",
             id: :capital_summary,
             src: capital_accounts_and_goals_summary_index_path,
             name: "capital"
    %>
    <%=
      render "accounts_and_goals/landing/balance_skeleton",
             id: :debts_summary,
             src: debt_accounts_and_goals_summary_index_path,
             name: "debt"
    %>
    <%=
      render "accounts_and_goals/landing/balance_skeleton",
             id: :total_summary,
             src: total_accounts_and_goals_summary_index_path,
             name: "total"
    %>
  </div>
  <%= render "components/card", additional_classes: "row-span-3" do %>
    <p>account or savings goal details/form space</p>
  <% end %>
  <%= render "components/card" do %>
    <p>capital accounts space</p>
  <% end %>
  <%= render "components/card" do %>
    <p>debt accounts space</p>
  <% end %>
  <%= render "components/card" do %>
    <p>external accounts</p>
  <% end %>
  <%= render "components/card" do %>
    <p>savings goals space</p>
  <% end %>
</div>
