<%= turbo_frame_tag :capital_normal_accounts do %>
  <% @accounts.each do |account| %>
    <div
      class="p-1.5 [&:not(:last-child)]:border-b grid grid-cols-[min-content_minmax(0,_1fr)] grid-rows-[min-content_min-content_min-content]"
    >
      <div class="flex items-center row-span-3 pr-1.5">
        <div class="flex justify-center items-center w-14 h-14 rounded-lg <%= account_color(account) %>">
          <span><%= account.name.capitalize.first %></span>
        </div>
      </div>
      <h4><%= account.name %></h4>
      <%= turbo_frame_tag dom_id_for_bank_account(account, preview: true),
                          src: balance_for_accounts_and_goals_bank_account_path(id: account.id, preview: true),
                          class: "flex justify-between" do %>
        <%= render "components/spinner" %>
      <% end %>
      <p class="text-sm text-neutral-400 leading-none max-w-[100%] overflow-hidden"><%= account.description&.truncate(50) %></p>
    </div>
  <% end %>
<% end %>
