<%# locals: (form:, attr:, error_messages: [], additional_classes: "", without_label: false) %>

<div class="<%= without_label ? "" : "relative" %> <%= additional_classes %>">
  <% unless without_label %>
    <%= form.label attr, class: "px-4 pt-1 text-sm absolute top-0" %>
  <% end %>
  <%= yield %>
</div>
<% error_messages.each do |error| %>
  <%= render "components/forms/messages/small", message: error, type: :error %>
<% end %>