<% content_for :content do %>
  <div
    class="p-2 h-[100%] grid gap-2 grid-cols-4 grid-rows-[min-content_minmax(0,_1fr)_minmax(0,_1fr)]"
  >
    <%=
      render "accounts_and_goals/balance_skeleton",
             id: :capital_summary,
             src: accounts_and_goals_capital_summary_path,
             name: "capital"
    %>
    <%=
      render "accounts_and_goals/balance_skeleton",
             id: :debts_summary,
             src: accounts_and_goals_debt_summary_path,
             name: "debt"
    %>
    <%=
      render "accounts_and_goals/balance_skeleton",
             id: :total_summary,
             src: accounts_and_goals_total_summary_path,
             name: "total"
    %>

    <%= render "components/card", additional_classes: "flex flex-col row-span-3" do %>
      <div class="flex justify-between items-baseline border-b">
        <h3 class="ml-4 text-lg flex-grow">savings goals</h3>
        <%=
          link_to "new",
                  "#",
                  class: "px-4 py-2.5 border-l cursor-pointer hover:bg-neutral-100"
        %>
      </div>
      <%= turbo_frame_tag :savings_goals, class: "block flex-grow overflow-y-auto" do %>
        <div class="h-[100%] flex justify-center items-center">
          <%= render "components/spinner" %>
        </div>
      <% end %>
    <% end %>

    <%= render "components/card", additional_classes: "flex flex-col" do %>
      <div class="flex justify-between items-baseline border-b">
        <h3 class="ml-4 text-lg flex-grow">bank accounts</h3>
        <%=
          link_to "new",
                  new_accounts_and_goals_account_path(kind: Account::KINDS[:capital][:normal]),
                  class: "px-4 py-2.5 border-l cursor-pointer hover:bg-neutral-100"
        %>
      </div>
      <%= turbo_frame_tag :capital_normal_accounts,
                          src: accounts_and_goals_accounts_path(kinds: [Account::KINDS[:capital][:normal]]),
                          class: "block flex-grow overflow-y-auto" do %>
        <div class="h-[100%] flex justify-center items-center">
          <%= render "components/spinner" %>
        </div>
      <% end %>
    <% end %>
    <%= render "components/card", additional_classes: "flex flex-col" do %>
      <div class="flex justify-between items-baseline border-b">
        <h3 class="ml-4 text-lg flex-grow">loans</h3>
        <%=
          link_to "new",
                  new_accounts_and_goals_account_path(kind: Account::KINDS[:debt][:loan]),
                  class: "px-4 py-2.5 border-l cursor-pointer hover:bg-neutral-100"
        %>
      </div>
      <%= turbo_frame_tag :debt_loan_accounts,
                          src: accounts_and_goals_accounts_path(kinds: Account::KINDS[:debt].slice(:loan, :personal).values),
                          class: "block flex-grow overflow-y-auto" do %>
        <div class="h-[100%] flex justify-center items-center">
          <%= render "components/spinner" %>
        </div>
      <% end %>
    <% end %>
    <%= render "components/card", additional_classes: "flex flex-col" do %>
      <div class="flex justify-between items-baseline border-b">
        <h3 class="ml-4 text-lg flex-grow">income sources</h3>
        <%=
          link_to "new",
                  new_accounts_and_goals_account_path(kind: Account::KINDS[:external][:income]),
                  class: "px-4 py-2.5 border-l cursor-pointer hover:bg-neutral-100"
        %>
      </div>
      <%= turbo_frame_tag :external_income_accounts,
                          src: accounts_and_goals_accounts_path(kinds: [Account::KINDS[:external][:income]]),
                          class: "block flex-grow overflow-y-auto" do %>
        <div class="h-[100%] flex justify-center items-center">
          <%= render "components/spinner" %>
        </div>
      <% end %>
    <% end %>

    <%= render "components/card", additional_classes: "flex flex-col" do %>
      <div class="flex justify-between items-baseline border-b">
        <h3 class="ml-4 text-lg flex-grow">savings accounts</h3>
        <%=
          link_to "new",
                  new_accounts_and_goals_account_path(kind: Account::KINDS[:capital][:savings]),
                  class: "px-4 py-2.5 border-l cursor-pointer hover:bg-neutral-100"
        %>
      </div>
      <%= turbo_frame_tag :capital_savings_accounts,
                          src: accounts_and_goals_accounts_path(kinds: [Account::KINDS[:capital][:savings]]),
                          class: "block flex-grow overflow-y-auto" do %>
        <div class="h-[100%] flex justify-center items-center">
          <%= render "components/spinner" %>
        </div>
      <% end %>
    <% end %>
    <%= render "components/card", additional_classes: "flex flex-col" do %>
      <div class="flex justify-between items-baseline border-b">
        <h3 class="ml-4 text-lg flex-grow">credit lines</h3>
        <%=
          link_to "new",
                  new_accounts_and_goals_account_path(kind: Account::KINDS[:debt][:credit]),
                  class: "px-4 py-2.5 border-l cursor-pointer hover:bg-neutral-100"
        %>
      </div>
      <%= turbo_frame_tag :debt_credit_accounts,
                          src: accounts_and_goals_accounts_path(kinds: [Account::KINDS[:debt][:credit]]),
                          class: "block flex-grow overflow-y-auto" do %>
        <div class="h-[100%] flex justify-center items-center">
          <%= render "components/spinner" %>
        </div>
      <% end %>
    <% end %>
    <%= render "components/card", additional_classes: "flex flex-col" do %>
      <div class="flex justify-between items-baseline border-b">
        <h3 class="ml-4 text-lg flex-grow">expense sources</h3>
        <%=
          link_to "new",
                  new_accounts_and_goals_account_path(kind: Account::KINDS[:external][:expense]),
                  class: "px-4 py-2.5 border-l cursor-pointer hover:bg-neutral-100"
        %>
      </div>
      <%= turbo_frame_tag :external_expense_accounts,
                          src: accounts_and_goals_accounts_path(kinds: [Account::KINDS[:external][:expense]]),
                          class: "block flex-grow overflow-y-auto",
                          reload: "morph" do %>
        <div class="h-[100%] flex justify-center items-center">
          <%= render "components/spinner" %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render template: "layouts/application" %>
