<% content_for :content do %>
  <div
    class="p-1 h-[100%] grid gap-1 grid-cols-4 grid-rows-[min-content_minmax(0,_1fr)_minmax(0,_1fr)]"
  >
    <%=
      render "accounts_and_goals/balance_skeleton",
             id: :capital_summary,
             src: accounts_and_goals_capital_summary_path,
             name: t("accounts_and_goals.ui.summary.capital")
    %>
    <%=
      render "accounts_and_goals/balance_skeleton",
             id: :debts_summary,
             src: accounts_and_goals_debt_summary_path,
             name: t("accounts_and_goals.ui.summary.debt")
    %>
    <%=
      render "accounts_and_goals/balance_skeleton",
             id: :total_summary,
             src: accounts_and_goals_total_summary_path,
             name: t("accounts_and_goals.ui.summary.total")
    %>

    <%=
      render "accounts_and_goals/listable_card",
             title: t("accounts_and_goals.ui.savings_goals"),
             new_url: "#",
             content_id: :savings_goals,
             src: nil,
             additional_classes: "row-span-3"
    %>

    <%=
      render "accounts_and_goals/listable_card",
             title: t("accounts_and_goals.ui.accounts.kind.capital.normal"),
             new_url: new_accounts_and_goals_account_path(kind: Account::KINDS[:capital][:normal]),
             content_id: :capital_normal_accounts,
             src: accounts_and_goals_accounts_path(kinds: [Account::KINDS[:capital][:normal]])
    %>
    <%=
      render "accounts_and_goals/listable_card",
             title: t("accounts_and_goals.ui.accounts.kind.debt.loan"),
             new_url: new_accounts_and_goals_account_path(kind: Account::KINDS[:debt][:loan]),
             content_id: :debt_loan_accounts,
             src: accounts_and_goals_accounts_path(kinds: Account.debt_loan_kinds_array)
    %>
    <%=
      render "accounts_and_goals/listable_card",
             title: t("accounts_and_goals.ui.accounts.kind.external.income"),
             new_url: new_accounts_and_goals_account_path(kind: Account::KINDS[:external][:income]),
             content_id: :external_income_accounts,
             src: accounts_and_goals_accounts_path(kinds: [Account::KINDS[:external][:income]])
    %>

    <%=
      render "accounts_and_goals/listable_card",
             title: t("accounts_and_goals.ui.accounts.kind.capital.savings"),
             new_url: new_accounts_and_goals_account_path(kind: Account::KINDS[:capital][:savings]),
             content_id: :capital_savings_accounts,
             src: accounts_and_goals_accounts_path(kinds: [Account::KINDS[:capital][:savings]])
    %>
    <%=
      render "accounts_and_goals/listable_card",
             title: t("accounts_and_goals.ui.accounts.kind.debt.credit"),
             new_url: new_accounts_and_goals_account_path(kind: Account::KINDS[:debt][:credit]),
             content_id: :debt_credit_accounts,
             src: accounts_and_goals_accounts_path(kinds: [Account::KINDS[:debt][:credit]])
    %>
    <%=
      render "accounts_and_goals/listable_card",
             title: t("accounts_and_goals.ui.accounts.kind.external.expense"),
             new_url: new_accounts_and_goals_account_path(kind: Account::KINDS[:external][:expense]),
             content_id: :external_expense_accounts,
             src: accounts_and_goals_accounts_path(kinds: [Account::KINDS[:external][:expense]])
    %>
  </div>
<% end %>

<%= render template: "layouts/application" %>
