<% content_for :content do %>
  <div class="p-2 h-[100%] grid gap-2 grid-cols-[minmax(0,_1fr)_minmax(0,_1fr)_30vw] grid-rows-[min-content_minmax(0,_1fr)_minmax(0,_1fr)]">
    <div class="col-span-2 grid gap-2 grid-cols-3">
      <%=
        render "accounts_and_goals/balance_skeleton",
               id: :capital_summary,
               src: accounts_and_goals_summary_capital_path,
               name: "capital"
      %>
      <%=
        render "accounts_and_goals/balance_skeleton",
               id: :debts_summary,
               src: accounts_and_goals_summary_debt_path,
               name: "debt"
      %>
      <%=
        render "accounts_and_goals/balance_skeleton",
               id: :total_summary,
               src: accounts_and_goals_summary_total_path,
               name: "total"
      %>
    </div>
    <%= render "components/card", additional_classes: "row-span-3" do %>
      <%= content_for?(:account) ? yield(:account) : yield %>
    <% end %>
    <%= render "components/card", additional_classes: "flex flex-col" do %>
      <div class="flex justify-between items-baseline border-b">
        <h3 class="mx-3 text-lg">bank & savings accounts</h3>
        <span class="px-4 py-2.5 border-l cursor-pointer hover:bg-neutral-100">new</span>
      </div>
      <%= turbo_frame_tag :capital_accounts, class: "block flex-grow overflow-y-auto" do %>
        <div class="h-[100%] flex justify-center items-center">
          <%= render "components/spinner" %>
        </div>
      <% end %>
    <% end %>
    <%= render "components/card", additional_classes: "flex flex-col" do %>
      <div class="flex justify-between items-baseline border-b">
        <h3 class="mx-3 text-lg">loans & credit lines</h3>
        <span class="px-4 py-2.5 border-l cursor-pointer hover:bg-neutral-100">new</span>
      </div>
      <%= turbo_frame_tag :debt_accounts, class: "block flex-grow overflow-y-auto" do %>
        <div class="h-[100%] flex justify-center items-center">
          <%= render "components/spinner" %>
        </div>
      <% end %>
    <% end %>
    <%= render "components/card", additional_classes: "flex flex-col" do %>
      <div class="flex justify-between items-baseline border-b">
        <h3 class="mx-3 text-lg">income & expenses sources</h3>
        <span class="px-4 py-2.5 border-l cursor-pointer hover:bg-neutral-100">new</span>
      </div>
      <%= turbo_frame_tag :external_accounts, class: "block flex-grow overflow-y-auto" do %>
        <div class="h-[100%] flex justify-center items-center">
          <%= render "components/spinner" %>
        </div>
      <% end %>
    <% end %>
    <%= render "components/card", additional_classes: "flex flex-col" do %>
      <div class="flex justify-between items-baseline border-b">
        <h3 class="mx-3 text-lg">savings goals</h3>
        <span class="px-4 py-2.5 border-l cursor-pointer hover:bg-neutral-100">new</span>
      </div>
      <%= turbo_frame_tag :savings_goals, class: "block flex-grow overflow-y-auto" do %>
        <div class="h-[100%] flex justify-center items-center">
          <%= render "components/spinner" %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= render template: "layouts/application" %>
