<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Financo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="h-[100dvh] grid grid-cols-[14vw_minmax(0,_1fr)]">
    <nav class="overflow-y-auto">
      <ul class="flex flex-col gap-2 py-2 px-1 items-start">
        <%= render "layouts/nav_link", name: "accounts & goals", url: "#", is_active: false %>
        <%= render "layouts/nav_link", name: "books", url: "#", is_active: false %>
        <%= render "layouts/nav_link", name: "budgets", url: "#", is_active: false %>
        <%= render "layouts/nav_link", name: "payment plans", url: "#", is_active: false %>
        <%= render "layouts/nav_link", name: "summaries", url: "#", is_active: false %>
      </ul>
    </nav>
    <div id="applet" class="h-[100dvh] overflow-y-auto">
      <%= yield %>
    </div>
    <dialog class="p-2 min-w-[30vw] max-w-[60vw] min-h-[50dvh] max-h-[85dvh] border shadow rounded backdrop:backdrop-blur-sm backdrop:bg-neutral-500/40 mb-2 absolute bottom-0">
      <h2 class="text-4xl">this is a modal</h2>
      <p>this is super cool</p>
    </dialog>
  </body>
</html>
