<!DOCTYPE html>
<html lang="en">
  <head>
    <title>financo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="h-[100dvh] grid grid-cols-[14vw_minmax(0,_1fr)]">
    <nav class="overflow-y-auto">
      <ul class="flex flex-col gap-2 py-2 px-1 items-start">
        <%=
          render "components/navigation/link",
                 name: "accounts & goals",
                 url: accounts_and_goals_path,
                 is_active: params[:controller].include?("accounts_and_goals")
        %>
        <%=
          render "components/navigation/link",
                 name: "books",
                 url: "#",
                 is_active: false
        %>
        <%=
          render "components/navigation/link",
                 name: "budgets",
                 url: "#",
                 is_active: false
        %>
        <%=
          render "components/navigation/link",
                 name: "payment plans",
                 url: "#",
                 is_active: false
        %>
        <%=
          render "components/navigation/link",
                 name: "summaries",
                 url: "#",
                 is_active: false
        %>
      </ul>
    </nav>
    <div id="applet" class="h-[100dvh] overflow-y-auto">
      <%= yield %>
    </div>
    <dialog
      id="modal"
      class="w-[35vw] min-h-[50dvh] max-h-[85dvh] shadow rounded-lg backdrop:backdrop-blur-sm backdrop:bg-neutral-500/40 mb-2 overflow-y-auto"
    >
    </dialog>
  </body>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</html>
